body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}
h1 {
   color: rgba(27, 0, 204, 1);
   margin: 0px;
   font-family: "Courier New", Courier, monospace;
}
p {
   margin: 3px;
}

.wrapper {
   display: flex;
   gap: 10px;
   flex-direction: column;
}
.visual {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   gap: 6px;
}
.title-input {
   width: 400px;
   height: 30px;
   box-sizing: border-box;
   padding-left: 20px;
}
.button-post {
   width: 400px;
   height: 30px;
   box-sizing: border-box;
}
.text-input {
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 20px;
   box-sizing: border-box;
}
.badmessage {
   color: red;
}
.badmessage-hidden {
   display: none;
}
.post {
   margin-top: 20px;
   border: 1px solid rgba(27, 0, 204, 1);
   height: auto;
   max-width: 400px;
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
   border-radius: 20px;
}
.post:hover {
   -webkit-box-shadow: 0px 0px 43px 0px rgba(27, 0, 204, 0.75);
   -moz-box-shadow: 0px 0px 43px 0px rgba(27, 0, 204, 0.75);
   box-shadow: 0px 0px 43px 0px rgba(27, 0, 204, 0.75);
}
.post__title {
   max-width: 360px;
   width: 360px;
   height: auto;
   hyphens: auto;
   font-weight: bold;
   font-size: 19px;
}
.post__text {
   width: 360px;
   height: auto;
   hyphens: auto;
   font-size: 15px;
}
